.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
}

.video-container video {
  border: 1px solid red;
  margin: 0 5px;
  background-color: black;
}

.callId{
  width: 80%;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center ;
  margin: 5px 0;
}

.video-container h1 {
  color: white;
}
